{% block content %}
<div class="home">
<h1>Mapping Lethal Police Encounters in the US</h1>

<p> This map was created from data from The Washington Post. It can be found at
https://github.com/washingtonpost/data-police-shootings. Marker locations on map are not
representative of the street address where the incident occurred. They are arbitrarily placed within the city
where the incident occurred. All of the information contained in the marker popups comes directly from data
provided by the Washington Posts link provided above. See their names so we may say their names.</p>
</div>
{% endblock %}
{% extends 'map2.html' %}

